.footer_ {
    background-color: #fff;
    padding: 30px 115px;
}

.footer_ .container-fluid {
    background: #2d2d2d;
    min-height: 455px;
    border-radius: 50px;
    margin-bottom: 35px;
}

.footer_top {
    padding-top: 90px;
    padding-bottom: 70px;
}

.f_logo {
    margin-bottom: 45px;
}

.footer_ p {
    color: #fff;
    font-size: 17px;
    line-height: normal;
    letter-spacing: .2px;
}

.footer_link {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer_link li {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: .2px;
    position: relative;
    padding-left: 25px;
}

.heading_footer h3 {
    color: #fdfeff;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
}

.full.heading_footer {
    margin-bottom: 40px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social_icon {
    list-style: none;
}

.social_icon {
    margin: 0;
    padding: 0;
    display: flex;
}

.social_icon li {
    font-size: 25px;
    margin: 5px 10px 0;
}

.footer_link li::after {
    width: 10px;
    height: 10px;
    content: "";
    display: block;
    background: #fafba4;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 10px;
}

.footer_link li a {
    color: #fff;
}

.footer_link li a:hover,
.footer_link li a:focus {
    color: #f6f7a9;
}

.footer_link_intas li {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    display: flex;
}

.footer_link_intas li span {
    float: left;
    color: #fff;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_form form input {
    width: 100%;
    border: none;
    padding: 5px 20px;
    min-height: 45px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.footer_form form button {
    background: #111;
    width: 195px;
    height: 50px;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.footer_form form {
    float: left;
    width: 100%;
}

.footer_link_intas li span:nth-child(1) {
    background: #fff;
    margin-right: 15px;
}

.footer_blog {
    display: flex;
}

.footer_icon {
    margin-right: 15px;
}

.footer_cont h4 {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-transform: none;
    margin: 0 0 7px 0;
}

.footer_cont p {
    color: #555555;
    line-height: 20px;
    font-size: 14px;
}

.footer_bottom p {
    margin: 0;
    line-height: 45px;
    color: #666;
    text-align: center !important;
    font-size: 14px;
    font-weight: 400;
}

.footer_bottom p a {
    color: #4ca8b3;
    font-weight: 500;
}

.footer_bottom p strong {
    color: #000;
    font-weight: 400;
}

.footer_heading {
    position: relative;
    width: 100%;
}

.footer_heading h3 {
    color: #2b5877;
    font-weight: 500;
    text-transform: none;
    font-size: 20px;
    border-bottom: dotted #ccc 1px;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.footer_heading h3::after {
    width: 40px;
    background: #4ca8b3;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    transition: ease all 0.5s;
}

.cont_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_info i {
    background: #fafba4;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #292929;
    font-size: 23px;
    border-radius: 100%;
    margin-right: 20px;
}

.cont_info span {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.mt-50 {
    margin-top: 50px
}

.footer_info {
    padding: 40px 0 30px;
    float: left;
    width: 100%;
}

.footer_info ul {
    list-style: none;
    float: left;
    width: 100%;
}

.footer_logo {
    margin-bottom: 20px;
}

.footer_logo img {
    max-width: 240px;
}

.footer_info p {
    margin: 0;
}

.footer_info ul li {
    float: left;
    width: 100%;
    margin: 10px 0 15px;
    position: relative;
}

.footer_info ul li span {
    font-weight: 400;
    padding: 3px 5px;
    float: left;
}

.footer_info.footer_menu li a {
    color: #707070;
    font-weight: 400;
}

.footer_info.footer_menu li a:hover,
.footer_info.footer_menu li a:focus {
    color: #4ca8b3;
}

.footer_info ul li a {
    color: #707070;
}

.footer_info.footer_menu li a span {
    margin-right: 5px;
}

.footer_info.footer_menu li a span {
    font-family: 'poppins', sans-serif;
}

.footer_info.footer_menu span {
    padding: 0;
    position: relative;
    top: -2px;
    font-weight: 200;
}

.footer_info.footer_menu li {
    margin: 5px 0;
}

.tweet-blog {
    display: flex;
    margin-bottom: 25px;
}

.tweet-blog i {
    color: #4ca8b3;
    font-size: 28px;
    margin-right: 20px;
    margin-top: 5px;
}

.tweet-cont {
    letter-spacing: 0;
    line-height: normal;
    font-weight: 400;
}

.tweet-cont a {
    color: #4ca8b3;
}

.tweet-cont a {
    margin-top: 10px !important;
    float: left;
    width: 100%;
}

.footer_info ul li .left_icon {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    font-size: 35px;
    padding: 0;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4ca8b3;
    border: solid #4ca8b3 1px;
}

.ml-5 {
    margin-left: 20px;
}

.footer_info ul li i {
    font-size: 25px;
}

.footer_info ul li i.fa.fa-phone {
    font-size: 25px;
}

.footer_form form button:hover,
.footer_form form button:focus {
    background: #fafba4;
}

ul.social_icon {
    list-style: none;
}

.social_icon li {
    font-size: 25px;
    margin: 5px 10px 0;
}

.social_icon a {
    color: black;
}

.cosical_medium {
    background: #fafba4;
    min-height: 185px;
    padding: 50px 0;
}

.cosical_medium p {
    margin: 25px 0 0 0;
    color: #060606;
    font-weight: 500;
    font-size: 16px;
}